.blurb {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 15px;
  padding: 10px;
  background-color: #1E1E1E;
  margin: 25px 10px 25px 10px;


  p {
    text-align: center;

    input {
      text-align: center;
    }
  }
}