<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Recipe API </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="blurb">
    <p>
      Enter a recipe name below to look it up or enter an ingredient to see a
      list of options!
    </p>
    <p>
      <input
        type="text"
        [(ngModel)]="search"
        placeholder="Name or Ingredient"
      />
    </p>
    <ion-button shape="round" expand="full" (click)="getRecipeBySearch(search)"
      >Search Recipes</ion-button
    >
    <ion-button
      shape="round"
      expand="full"
      (click)="getRecipeByIngredient(search)"
      >Filter By Ingredient</ion-button
    >
  </div>
  <div class="blurb">
    <p>
      Can't make up your mind? Generate random recipes until you find one you
      like!
    </p>
    <ion-button shape="round" expand="full" (click)="getRandomRecipe()"
      >Get Random Recipe</ion-button
    >
  </div>
  <ion-list>
    <ion-item
      *ngFor="let recipe of recipes; let idx = index"
      routerLink="/details/{{ idx }}"
    >
      {{ recipe.strMeal }}
    </ion-item>
  </ion-list>
</ion-content>
